<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RemoteSecurityService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63112/RemoteSecurityService.svc"
                binding="basicHttpBinding" bindingConfiguration="RemoteSecurityService"
                contract="SecurityService.ISecurityService" name="RemoteSecurityService" />
        </client>
    </system.serviceModel>
</configuration>