<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.serviceModel>
    <client>
      <endpoint address="http://localhost:60476/DataServiceWcf" binding="basicHttpBinding" contract="ServiceDataModel.Services.IDataServiceWcf" />
    </client>
  </system.serviceModel>-->
</configuration>