<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoundDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <SoundDesk.Properties.Settings>
            <setting name="RequiresUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LeftColumnWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="IsOrchestralSongsPreferred" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSongRemovedWhenFinished" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPlayVocalVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>http://localhost:62427/UpdateService.svc</value>
            </setting>
            <setting name="IsCheckForUpdatesOnStart" serializeAs="String">
                <value>False</value>
            </setting>
        </SoundDesk.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUpdateService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62427/UpdateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateService" contract="UpdateService.IUpdateService" name="BasicHttpBinding_IUpdateService"/>
        </client>
    </system.serviceModel>
</configuration>
