<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Developer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Developer.Properties.Settings>
            <setting name="UpdateRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastMainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMainWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LastMainWindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="LastMainWindowWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LastMainWindowTreeViewWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LastWebServiceAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastOpenFolder" serializeAs="String">
                <value/>
            </setting>
        </Developer.Properties.Settings>
    </userSettings>
</configuration>
